.headerPrincipal .container{
    flex-direction: column;
    align-items: initial;
    text-align: center;
}

.headerPrincipal-nav{
    flex-direction: column;
}

.contenidoPrincipal-cursos-link{
    width: 100%;
}

.videoSobre .container {
    display: block; 
    
}

.videoSobre-video {
    display: flex;
    align-items: center;
    margin: auto;
}

.videoSobre-sobre {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.videoSobre-button{
    margin-top: 2%;
}

.rodapePrincipal-navMap-list{
    height: auto;
    flex-direction: column;
    display: flex;
    margin: auto;
}


.rodapePrincipal .container{
    display: block;
    justify-items: center;
    margin: auto;
}
.rodapePrincipal-patrocinadores-list{
    width: 100%;
    justify-content: space-between;
}

.rodapePrincipal-contatoForm-fieldset{
    display: block;
}
