
@media (max-width:768px) {   

/*Parte Header*/

.headerPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
}

.headerPrincipal-nav {
    flex-direction: column;
}

/*Parte Cursos*/

.container .subtitulo{
align-items: center;

}

.contenidoPrincipal-cursos-link {

    width: 100%;
    margin:auto;
    margin-top: 1%;
}

.videoSobre .container {
    display: block;

}

.videoSobre-video {
  display: flex;
  align-items: center;
  margin: auto;
}

.videoSobre-sobre {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.videoSobre-button {

  margin-top: 2%;
}

.rodapePrincipal-navMap-list {
  height: auto;
  flex-direction: column;
  display: flex;
  margin: auto;
}

.rodapePrincipal .container {
  display: block;
  justify-items: center;
  margin: auto;
}
.rodapePrincipal-patrocinadores-list {
  width: 100%;
  justify-content: space-between;
}

.rodapePrincipal-contatoForm-fieldset {
  align-items: center;
  display: inline-block;
  justify-content: center;

    margin-top: 2%;
}

.rodapePrincipal-navMap-list {
    height: auto;
    flex-direction: column;
    display: flex;
    margin: auto;
}

.rodapePrincipal .container {
    display: block;
    justify-items: center;
    /* margin: auto; */
}
.rodapePrincipal-patrocinadores-list {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 2%;
}
.rodapePrincipal-patrocinadores-list-link{
    width: 30%;
}

.rodapePrincipal-contatoForm-emailInput{
    display: block;
    width: 100%;
}

.rodapePrincipal-contatoForm-submit {
    display: block;

}


.rodapePrincipal-contatoForm-emailInput {
  padding: 5% 45% 5% 45%;
  width: 100%;
  margin: auto;
}

.rodapePrincipal-contatoForm-submit {
  margin-top: 3%;
  padding: 5% 40% 5% 40%;
  border: 2px;
}
}
